<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="stylesheet.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
</head>
<body>
  <div id="app">
    <p>My name is {{ name }}</p>
    <p>{{ greeting() }}</p>
    <a v-bind:href="website">The Ninja Website</a>
    <p v-html="websiteTag"></p>
    <input type="text" v-bind:value="name">
    <div>    
      <h1>Event</h1>
      <button v-on:click.once="age++">Add a year</button>
      <button v-on:click="age--">Subtract a year</button>
      <button v-on:dblclick="add">Double Click Add 10 years</button>
      <button v-on:dblclick="subtract">Double click Subtract 10 years</button>
      <p>My age is {{ age }}</p>
    </div>
    <div>
      <h1>Keyboard Event</h1>
      <label for="">Name: {{ name }}</label>
      <input type="text" v-model="name">
      <label for="">Age: {{ age }}</label>
      <!-- press alt/option + enter to trigger the function-->
      <input type="text" v-on:keyup.alt.enter="logAge">
    </div>
    <div>
      <h1>#8</h1>
      <button v-on:click="a++">Add A</button>
      <button v-on:click="b++">Add B</button>
      <p>A: {{ a }}</p>
      <p>B: {{ b }}</p>
      <p>Age + A: {{ addToA }}</p>
      <p>Age + B: {{ addToB }}</p>
    </div>
    <div>
      <h1>#10 Dynamic class</h1>
      <h2>Example 1</h2>
      <div v-on:click="available = !available" v-bind:class="{available: available}">
        <span>My Color</span>
      </div>
      <h2>Example 2</h2>
      <button v-on:click="available = !available">Toggle available</button>
      <button v-on:click="nearby = !nearby">Toggle nearby</button>
      <div v-bind:class="compClasses">
        <span>Change color</span>
      </div>
    </div>
    <div>
      <h1>#11 if condition</h1>
      <button v-on:click="error = !error">Toggle Error</button>
      <button v-on:click="success = !success">Toggle Success</button>
      <!-- add/remove an element -->
      <p v-if="error">There is an error</p>
      <p v-else-if="success">Whooo, success : )</p>
      <!-- display an element or not  -->
      <p v-show="error">Error</p>
      <p v-show="success">Success</p>
    </div>
    <div>
      <h1>#12 v-for</h1>
      <ul>
        <li v-for="ninja in ninjas">
          <p>Name: {{ ninja.name }}</p>
          <p>Age: {{ ninja.age }}</p>
        </li>
      </ul>
      <div v-for="ninja in ninjas">
        <p>Name: {{ ninja.name }}</p>
        <p>Age: {{ ninja.age }}</p>
      </div>
      <template v-for="ninja in ninjas">
        <p>Name: {{ ninja.name }}</p>
        <p>Age: {{ ninja.age }}</p>
      </template>
      <!-- iterate val, key pair -->
      <template v-for="ninja in ninjas">
        <p v-for="(val, key) in ninja">{{ val }}: {{ key }}</p>
      </template>
    </div>
    <div>
      <h2>#15 components</h2>
      <greeting></greeting>
    </div>
    <div>
      <h2>#16 Refs</h2>
      <input type="text" ref="inputFood" />
      <button v-on:click="readRefs">Submit</button>
      <p>Your favorite food: {{ output }}</p>
      <div ref="hello">Hello world!</div>
    </div>
    <div></div>
  </div>
  <div id="canvas" v-on:mousemove="updateXY">
    {{ x }}, {{ y }}
  </div>
  <script src="app.js"></script>
</body>
</html>